body {
  font-family: 'Playfair Display', 'Lobster', serif;
  background-color: #ecf0f1;
  color: #2c3e50;
}

h1 {
  font-size: 48px;
}

a {
  text-decoration: none;
}

div a {
  color: #2980b9;
}

details {
  background: #bdc3c7;
  width: 320px;
  margin: 10px;
  padding: 10px;
  border-radius: 10px;
}

summary {
  text-decoration: underline;
}

.navigation__list a {
  color: #2c3e50;
  padding: 5px;
  border-radius: 15px;
  width: 130px;
  height: 20px;
  display: block;
  text-align: center;
}

.navigation__list a:hover {
  animation-name: gach_chan;
  animation-duration: 700ms;
  animation-fill-mode: forwards;
}

@keyframes gach_chan {
  100% {
  background-color: #ecf0f1;
  color: #3498db;
  }
}

.navigation {
  border-radius: 0px 0px 20px 20px;
  background-color: #3498db;
  width: 1475px;
  position: absolute;
  top: 0px;
  left: 30px;
  color: #2c3e50;
}

.navigation__list {

  float: left;
  margin: 5px 60px 25px 0px;
  list-style-type: none;
}

section {
  position: absolute;
  top: 40px;
  left: 100px;
}

div {
  margin: 10px;
}
